{% extends "base.html" %}

{% block content %}
<h2>  Here are all the members who are currently signed up to the Gym </h2>

<p><a href = '/members/new'> Add a New Member </a></p>

<table>
    <tr>
        <th>Member Name </th>
        <th> </th>
        <th>Age</th>
        
    </tr>
{% for member in all_members %}
    <tr> 
        <td><a href = '/members/{{member.id}}'> {{member.name}} </a></td>
        <td>  </td>
        <td> {{member.age }}</td>
        
    </tr>
{%endfor%}

</table>

{% endblock %}