.main-bar {
    background-color:gold;
    color:crimson;
    font-family: Brush script MT, Brush Script Std, cursive;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.header { 
    font-size: 400%;
}

.nav-list{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 150%;
    
}

.nav-list > li {
    margin: 15px;
}