body{
    background-color:rgb(255, 162, 68);
    color: rgb(255, 255, 255);
}

a:visited{
    color :inherit;
}

.main-body{
    margin:auto;
    width: 70%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* all the nav bar content */
.main-bar {
    background-color:gold;
    color:crimson;
    font-family: Brush script MT, Brush Script Std, cursive;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.header { 
    font-size: 450%;
    margin:35px;
    
}

.nav-list{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 200%;
    
}

.nav-list > li {
    margin: 35px 15px;
    list-style-type: none;
    text-decoration: none;
}

/* all the home pag(index.html content as well as list content for activities and also members*/


.unique-item{
    height:250px;
    margin: auto;
    width: 50%;
    background-color:rgb(224, 28, 28);
    border:1px transparent;
    border-radius: 25px;  
    text-align: center center;
    font-size: 42px;
}
.unique-item >p {
    padding: 20px 0px 10px 0px;
}
.button-form{
    display:block;
    margin:auto;
    width:50%;
    background-color:transparent;
    color:yellow;
    border:transparent;
    font-size: 3vh;
}

.table-array{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;


}
.unique-table{
    color:gold;
    height:100px;
    width: 45%;
    background-color:crimson;
    border:1px transparent;
    border-radius: 25px;  
    text-align: center;
    margin:auto;
}

.unique-table> table{
    margin:auto;
}
.unique-table>td{
    font-size: 12px;
}

.activity-button{
        display:block;
        margin:auto;
        width:50%;
        background-color:transparent;
        color:yellow;
        border:transparent;
        font-size: 15px;
}

/* all the content for individual activities being shown */
.activity-table{
    width: auto;
    margin:auto;
    padding:10px;
    
}
.individual-activity{
    color:gold;
    height:auto;
    margin: auto;
    width: 32.5%;
    background-color:crimson;
    border:1px transparent;
    border-radius: 25px;  
    text-align: center;
    font-size: 15px;
    display:flex;
    flex-direction: column;
    
}

.individual-activity >h2 {
    text-decoration: underline;
    margin:20px;
}
.individual-activity >h4 {
    text-decoration: underline;
    margin:0px;
}
.individual-activity >p {
    margin:10px;
}

.individual-activity >ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}

.individual-activity >a:link {
    color:inherited;
}

/* all the CSS or the individual view of members */

.individual-member{
    color:gold;
    height:auto;
    margin: auto;
    width: 32.5%;
    background-color:crimson;
    border:1px transparent;
    border-radius: 50px;  
    text-align: center;
    font-size: 15px;
    display:flex;
    flex-direction: column;
}

.member-activity-table{
    width:auto;
    font-size: 12px;
}