{% extends "base.html" %}

{% block content %}
<h2>  Here are all Available Activities here at Average Joe's </h2>

<p><a href = '/activity/new'> Add a New Activity </a></p>
<section class = table-array>
{% for activity in activities %}
<section class =unique-table>
<table >
    <tr>
        <th> Activity</th>
        <th> Date</th>
        <th> Time</th>
        <th> Description</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td> {{activity.name}}</td>
        <td> {{activity.date}}</td>
        <td> {{activity.time}}</td>
        <td> {{activity.description}}</td>
    </tr>
</table>
<form action = "/activity/{{activity.id}}" >  
    <button class = 'activity-button' type = 'submit' > View {{activity.name}} Activity</button>
</form>
</section>
<br>
{%endfor%}
</section>

</table>

{% endblock %}