{% extends "base.html" %}

{% block content %}
<section class = 'individual-activity'>
<h2> {{ activity.name}} </h2>

<table class = 'activity-table'> 
    <tr> 
        <th> Date </th>
        <td> {{activity.date}} </td>
    </tr>
    <tr> 
        <th> Time </th>
        <td> {{activity.time}} </td>
    </tr>
</table>

<h4> Activity Description</h4>
<p>  {{activity.description}} </p>

<h4>  Attendee's </h4>
<ul>
    <table class = 'activity-table'> 
    
    {%for member in members %}

            <tr>
                <td> {{member.name}}</td>  
                {% for booking in bookings %}   
                {% if booking.member.id == member.id %}          
                <td><a href = '/booking/{{booking.id}}'> Check Booking </a></td>    
                {% endif %}
                {% endfor %}         
            </tr>
       
        
    {% endfor %}
    </table>
</ul>
<br>
<a href = '/booking/new'> Book in for {{activity.name}}</a>

<a href = '/activity/{{activity.id}}/edit'> Edit {{activity.name}}</a>

<a href = '/activity/{{activity.id}}/delete'> Delete {{activity.name}}</a>
</section>
{% endblock %}