{% extends "base.html"%}

{% block content %}

<p> This is the Home page </p>

<div> 
    <p>Look at a list of all our Members</p>
    <form action = '/members' method = 'get'>
        <button type = 'submit'> Look at Our Members </button>
    </form> 

</div>
<br>
<div> 
    <p> Look at a list of all our Activities </p>
    <form action = '/activity' method = 'get'>
    <button type = 'submit'> Look at Our Activities </button>
    </form> 
</div>

<div>
    <img src = 'static/images/unnamed.jpeg' alt = "Patches O'Houlihan" width = '200' height ='150'>
    <p> In Memorium of Patches O'Houlihan  </p>
</div>

{% endblock %}