{% extends "base.html"%}

{% block content %}

<div class='button-blocks'>
<div class = 'unique-item'> 
    <p>Look at a list of all our Members</p>
    <form action = '/members' method = 'get'>
        <button class=button-form type = 'submit'> Go to our Members  Page</button>
    </form> 

</div>
<br>
<div class= 'unique-item'> 
    <p> Look at a list of all our Activities </p>
    <form action = '/activity' method = 'get' >
    <button class=button-form type = 'submit'> Go to our Activities Page</button>
    </form> 
</div>
</div>
<br>
<div>
    <img src = 'static/images/unnamed.jpeg' alt = "Patches O'Houlihan" width = '200' height ='150'>
    <p> In Memorium of Patches O'Houlihan  </p>
</div>

{% endblock %}